.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 20px;
    margin-top: .5rem;

}
.css-hyxlzm {
    margin-top: .5rem;
}
.label{
    margin-left: 10px;
}
.dividr{
    background-color: black !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form input{
    height: 50px;
    font-size: 20px;
    background-color: rgb(234, 231, 231);
}
.form {
    width: 40%;
}
.form select{
    height: 50px;
    font-size: 18px;
   
    
}
.mt-2 {
    margin-top: 0.7rem!important;
}