.inputClass input {
    padding: 0px 10px;
    color: rgb(126, 126, 126);
    /* font-style: italic; */
    height: 2rem;
    width: 14rem;
text-align: center;
    color: black;
}

.inputClassFull input {
    padding: 0px 10px;
    color: rgb(126, 126, 126);
    /* font-style: italic; */   
    height: 2rem;
    width: 36.8rem;
text-align: center;
    color: black;
}