.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loding_spinner{position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabview{
  height: 0px;
}
.tabview ul{
  list-style-type: none ;
    margin: 0 auto;
    z-index: 1;
    width: fit-content;
    display: flex;
    padding: 0px;
}

.tabview ul li{
  display: flex;
  border-radius: 5px;
}
.tabview li:nth-child(1){  
background-color: #f3f4f7;
width: 8rem;
height: 7rem;

}
.tabview li:nth-child(2){  
  vertical-align: middle;
  display: flex;
  margin: auto 20px !important;
  
  
  }
.tabview li:nth-child(3){  
  background-color: #f3f4f7;
  width: 8rem;
  height: 7rem;

  }
  .tabview button{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 5px solid transparent;
  }

  .tabview button.active{
    border: 5px solid rgba(0, 149, 221, 0.6) !important;
    border-radius: 5px;
  }

  .underline-none .MuiInput-underline::after{
    border-bottom: none !important;
  }
  .underline-none .MuiInput-underline::before{
    border-bottom: none !important;
  }
  
  .error{
    font-size: 12px;
    color: red;
    text-align: left;
  }
.tabview img{
  height: 3rem;
  width: auto !important;
}

  @media (min-width:768px) and (max-width:998px){
    .tabview li:nth-child(1){ 
      width: 6rem ;
      height: 4rem ;
  }
  .tabview li:nth-child(3){  
    width: 6rem ;
    height: 4rem ;
  }
  .tabview img{
    height: 2rem;
    width: auto !important;
  }
  }

  @media (min-width:0px) and (max-width:768px){
    .tabview li:nth-child(1){ 
      width: 6rem ;
      height: 4rem ;
  }
  .tabview li:nth-child(3){  
    width: 6rem ;
    height: 4rem ;
  }
  .tabview img{
    height: 1.5rem;
    width: auto !important;
  }
  }